<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}shomo{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('Styles/style.css') }}"/>
</head>

<body>
<header>
    <div id="headerInside">
        <div id="companyName">shomo</div>
        <div id="navWrap">
            <a href="{{ path('home') }}">
                main
            </a>
            <a href="{{ path('goods') }}">
                goods
            </a>
            <a href="{{ path('cart') }}">
                cart
            </a>
            <a href="{{ path('order') }}">
                order
            </a>
            <a href="{{ path('login') }}">
                order
            </a>
        </div>
    </div>
</header>


<div id="content">
    {% block body %} {% endblock %}
</div>
<footer>
    <div id="footerInside">
        <div id="contacts">
            <div class="contactWrap">
                <img src="{{ asset('images/envelope.svg') }}" class="contactIcon">
                shomo@gmail.com
            </div>
            <div class="contactWrap">
                <img src="{{ asset('images/phone-call.svg') }}" class="contactIcon">
                044 044 44 44
            </div>
            <div class="contactWrap">
                <img src="{{ asset('images/placeholder.svg') }}" class="contactIcon">
                адрес
            </div>
        </div>

        <div id="footerNav">
            <a href="{{ path('home') }}">Главная</a>
            <a href="{{ path('goods') }}">Магазин</a>
        </div>
        <div id="social">
            <img class="socialItem" src="{{ asset('images/google-plus-social-logotype.svg') }}">
            <img class="socialItem" src="{{ asset('images/facebook-logo.svg') }}">
        </div>
        <div id="copyrights">&copy; aks</div>
    </div>
</footer>

<script src="libs/jquery-3.6.0.min.js"></script>
<script src="scripts/cart.js"></script>
</body>
</html>


